body {
	background-image: url('background.png');
}

div{
	background-color:white;

}

div a{
	color:white;
	font-size:16px

}

div div {
	background-color:#444444;
	padding:.4em;
	margin:1px;
}

.business {
	text-align:left;
	margin-top:.1em;
	margin-bottom:.1em;
	color:black;
}

.header {
	border-top:1px solid black;
	border-bottom:1px solid black;
	padding:1em;
	color:white;
}

footer {
	border-top:1px solid black;
	border-bottom:1px solid black;
	padding:1em;
	background-color:white;
}