body{
		font-family:Open Sans;
		display:flex;
		flex-direction:column;
		margin:0;
	}

	main{
		width:60em;
		margin-left:auto;
		margin-right:auto;
	}

	header{
		background-color:#FFA600;
		height:146px;
		position: relative;
		font-weight:600;
	}

	.pannel.hero{
		height:440px;
	}

	a{
		color:white;
	}

	header > a{
		position:relative;
		top:3px;
		left:3px;
		background-color:#FF0000;
	}

	header > div{
		float:right;
		display:block;
		margin-top:12px;
		background-color: blue;
	}

	header input{
		height:19px;
	}

	header button{
		float:right;
		font-size:12pt;
		color:white;
	}

	nav{
		background-color:#008100;
		display:flex;
		text-align:center;
		position: absolute;
		width:100%;
		bottom:0;
		padding-top:15px;
		padding-bottom:15px;
	}

	nav > a{
		text-decoration:none;
		flex:1;
	}

	.hero{
		color:#FFFFFF;
		background-color: #00AABB;
		flex:1;
	}

	.content{
		background-color: #810082;
		flex:3;
	}

	.new{
		background-color:#84D4DD;
		height:294px;
		position:relative;
	}

	.intro{
		font-weight:600;
	}
	
	.banner .title{
		font-size:30pt;
		padding-bottom:8px;
	}

	.banner .intro{
		padding-top:8px;
	}

	.banner{
		background-color:#FF00FF;
		position:absolute;
		bottom:28px;
		width:100%;
		text-align:center;
		padding-bottom:14px;
	}
	
	.steps{
		background-color: #008100;
		display:flex;
	}

	.tile:first-child{
		margin:7px 7px 7px 14px;
	}

	.tile:nth-child(2){
		margin:7px 7px 7px 7px;
	}

	.tile:last-child{
		margin:7px 14px 7px 7px;
	}

	.tile{
		background-color: #00FF00;
		display:inline-block;
		flex:1;
		text-align:center;
		transform:translateY(-22px);
	}

	.tile .title{
		font-weight:900;
		margin:15px;
	}

	.tile .words{
		margin:15px;
	}

	.media{
		display:flex;
		flex-direction:row;
		background-color: white;
		transform:translateY(-12px);
	}

	aside{
		background-color: #00FF00;
		flex:1.175;
	}

	.labels {
		display:flex;
		background-color: red;
		margin:10px;
	}

	.labels .img{
		height:100%;
	/*	flex:1;	*/
		height:66px;
		width:66px;
	}

	.labels .text{
		font-size:12pt;
		flex:3;
		background-color: yellow;
	}

	.labels img{
		width:100%;
		height:100%;
	}

	.profiles{
		background-color: #0000FF;
		flex:1.65;
		padding:5px;
	}

	.profiles div {
		width:160px;
		margin:7px;
		margin-top:5px;
		display:inline-block;
		background-color: yellow;
		vertical-align:top;
	}

	.profiles div div{
		display:block;
		margin:0;
	}

	.profiles img{
		height:160px;
		width:160px;
	}

	span{
		display:block;
		font-weight:900;
	}

	.profiles span{
		border-bottom:1px solid black;
	}