body {
	font-family: Lato;
	color:#629D00;
	background-image: url('background.jpg');
}

div{
	background-color:white;

}

div a{
	color:black;
	font-size:16px

}

div div {
	background-color:#444444;
	padding:.4em;
	margin:1px;
}

.business {
	font-family:Lobster;
	text-align:left;
	margin-top:.1em;
	margin-bottom:.1em;
	color:black;
}

.header {
	border-top:1px solid black;
	border-bottom:1px solid black;
	padding:1em;
	color:white;
}

footer {
	color:white;
	font-weight:700;
}